{% extends 'hospital_app/base.html' %}

{% block content %}

<h1>Admin Dashboard</h1>

<h2>Welcome Admin</h2>

<div class="cards">

    <div>
        <h3>Departments</h3>
        <a href="/admin/hospital_app/department/">
            Manage Departments
        </a>
    </div>

    <div>
        <h3>Doctors</h3>
        <a href="/admin/hospital_app/doctor/">
            Manage Doctors
        </a>
    </div>

    <div>
        <h3>Patients</h3>
        <a href="/admin/hospital_app/patient/">
            Manage Patients
        </a>
    </div>

</div>

{% endblock %}